
<%= content_tag("p", flash[:message]) if flash[:message] %>

<% if @thing %>

	<%= content_tag("h1", "What is this?")%>
	<%= content_tag("div") do %>
	
		<%= content_tag("header") do %>
			<%= content_tag("h2") do %>
				<%= @thing.title %>
				<%= @thing.name if @thing.title.blank? %>
			<% end %>
			<%= @thing.name unless @thing.title.blank? %>
		<% end %>
	
		<%= content_tag("p", @thing.description) %>

		<% unless @thing.maker.blank? %>
			<%= content_tag("p") do %>
				<%= content_tag("span", "Made by: ") %>
				<%= @thing.maker.gsub("(maker)", "") %>
			<% end %>
		<% end %>

		<% unless @thing.date_made.blank? %>
			<%= content_tag("p") do %>
				<%= content_tag("span", "Date: ") %>
				<%= @thing.date_made %>
			<% end %>
		<% end %>

		<% unless @thing.place_made.blank? %>
			<%= content_tag("p") do %>
				<%= content_tag("span", "Place: ") %>
				<%= @thing.place_made %>
			<% end %>
		<% end %>
		
	<% end %>
	
	<div class="question">
	<%= form_for @thing, :html => {:class => :thing_type} do |f| %>
		
		<%= f.label :type_of_thing_name, "It's a" %>
		
		<div class="input">
			<%= f.text_field :type_of_thing_name %>
			<%= content_tag("span", "(eg 'clock')", :class => :example) %>
		</div>
	
		<%= f.submit "I reckon" %>
	<% end %>

	<%= form_for @thing, :html => {:class => :no_idea} do |f| %>
		<%= f.submit "No idea"%>
	<% end %>	

	</div>
<% else %>
	<%=content_tag("p", "No things!")%>

<% end %>